

<div class="container">
  <p>asldflkasdfjlkasjflksa</p>
  <div class="row col-md-12 col-xs-12 col-sm-12">

  </div>

  <div class="stories">
    {{#each model as |story|}}
      {{story-tile story=story}}
    {{/each}}
  </div>

</div>


{{outlet}}
